
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'cost_contracts_list' %}">
    contracts Listing
    </a>
</p>
    
<table class="table">
    <tr><td>contract_description</td><td>{{ object.contract_description }}</td></tr>
    <tr><td>attachment</td><td>{{ object.attachment }}</td></tr>
    <tr><td>contract_file</td><td>{{ object.contract_file }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>scheduleofvalues</td><td>{{ object.scheduleofvalues }}</td></tr>
    <tr><td>contract_type</td><td>{{ object.contract_type }}</td></tr>
    <tr><td>exclusion_assumption</td><td>{{ object.exclusion_assumption }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}