
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'cost_requisition_list' %}">
    requisition Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>req_number</td><td>{{ object.req_number }}</td></tr>
    <tr><td>req_amount</td><td>{{ object.req_amount }}</td></tr>
    <tr><td>coi</td><td>{{ object.coi }}</td></tr>
    <tr><td>stored_materials</td><td>{{ object.stored_materials }}</td></tr>
    <tr><td>prev_amount</td><td>{{ object.prev_amount }}</td></tr>
    <tr><td>lienwaiver</td><td>{{ object.lienwaiver }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}